body{
  background-color: #fafafa;
  color:#212529;
}

a { color: #5E208F;}

/* Header/Navigation Bar*/
#header{
  background: #ffffff;
  margin-bottom:50px;
  border-bottom:1px solid #e6e6e6;
}

#header a{
  color:#212529;
}

.navbar-brand{ font-weight: bold;}

/*Styling for specific forms*/
#loginForm {
  background-color: white;
  border:1px solid #e6e6e6;
  padding:5%;
  width:40%;
  min-width:300px;
  margin: 0 auto;
}

#postForm{
  width:100%;
  padding:8%;
  margin-bottom:10%;
  background-color:white;
  border:1px solid #e6e6e6;
}

/* Styling for all forms */
input[type=submit]{
  background-color:#5E208F;
  border:0px solid white;
  color:white;
}

input[type=text], input[type=password], input[type=submit], textarea{
  width:100%;
  padding:2%;
  margin:2% 0;
  border:1px solid #e6e6e6;
}


input[type=text], textarea, input[type=password]{
  background-color:#e6e6e6;
}

/* Styling of posts */
.post{
  display:block;
  width:100%;
  max-width:500px;
  margin:0 auto;
  margin-bottom:20px;
  background-color:white;
  border:1px solid #e6e6e6;
}

.post .post-info, .post .caption, .post .tags {
  padding:2%;
}

.post .post-info {
  text-align:right;
}

/* Positioning of search icon on follows page */
.has-search .form-control {
  padding-left: 2.375rem;
}

.has-search .form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
  color: #aaa;
}
